.enter {
  place-self: center;
  display: flex;
  align-items: center;
}
.umbrela {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.umbrela img {
  width: 300px;
}

.umbrela h1 {
  font-size: 65px;
  color: #ededed;
}

.umbrela h4 {
  font-size: 20px;
  color: #ededed;
}

.umbrela .btn {
  width: 50px;
  height: 50px;
  background: skyblue;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ededed;
  margin-top: 20px;
}
