* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.weather {
  place-self: center;
  padding: 40px;

  border-radius: 10px;
  background-image: linear-gradient(180deg, #2e3842, #3e4955);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

.weather-icon {
  width: 150px;
  margin-top: 30px;
}

.main {
  margin-bottom: 30px;
  color: #fff;
}

.temperature {
  color: #fff;
  font-size: 80px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 40px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data img {
  width: 26px;
  margin-top: 10px;
}

@media (max-width: 640px) {
  .weather {
    height: 100vh;
  }
}
